:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --white-cl: #ffffff;
  --grey-color: #757575;
  --black-txt-cl: #000000;
  /* background-color */
  --light-bg-cl: #ffffff;
  --dark-bg-cl: #2f303a;
  --grey-bg-cl: #757575;
  --blue-bg-cl: #1a81bd;

  /* others */
}
/* !!!global values!!! */
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 14px;
}
span {
  color: var(--black-txt-cl);
}
/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.font-style {
  font-style: normal;
}
/* base style */
.container {
  width: 2000px;
  padding-right: 200px;
  padding-left: 200px;
  margin-right: auto;
  margin-left: auto;
}
.uppertitle {
  font-family: var(--main-font);

  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-cl);
}
.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-cl);
  background-color: var(--accent-txt-cl);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: var(--white-cl);
  background-color: var(--blue-bg-cl);
}
.btn-current {
  color: var(--white-cl);
  background-color: var(--accent-txt-cl);
}
.btn-dark {
  color: var(--main-txt-cl);
  background-color: var(--light-bg-cl);
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark-current {
  color: var(--white-cl);
  background-color: var(--accent-txt-cl);
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}

/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!Header section!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.header {
  background-color: var(--light-bg-cl);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
}
.header-link {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--black-txt-cl);
  text-decoration: none;
}
.header-link:hover,
.header-link:focus,
.header-phone:hover,
.header-phone:focus {
  color: var(--accent-txt-cl);
}
.header-link-current {
  color: var(--accent-txt-cl);
}
.web-cl {
  color: var(--accent-txt-cl);
}
.contact-item {
  color: var(--grey-color);
  text-decoration: none;
}
.contact-item:hover,
.contact-item:focus {
  color: var(--accent-txt-cl);
}
/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!Hero section!!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.hero {
  background-color: #2f303a;
}
.hero-container {
  display: flex;
}
/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!Features section!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.feature {
  background-color: var(--light-bg-cl);
}
.feature-article {
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-paragraph {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--grey-bg-cl);
}
/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!Portfolio section!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.portfolio {
  background-color: var(--light-bg-cl);
}
.portfolio-main {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!Team section!!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.team {
  background-color: #f5f4fa;
}
.team-main {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
}
.team-name {
  font-weight: 500;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}
.team-job {
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--grey-bg-cl);
}
/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!Footer section!!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.footer {
  background-color: var(--dark-bg-cl);
}
.footer-studio {
  color: var(--white-cl);
}
.address {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-cl);
  text-decoration: none;
}
.address-items {
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.address-item {
  color: rgba(255, 255, 255, 0.6);
}

.address-item:hover,
.address-item:focus {
  color: var(--accent-txt-cl);
}
/* portfolio page */
.name-sites {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.about-sites {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}
