:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --white-cl: #ffffff;
  --grey-cl: #757575;
  --black-cl: #000000;
  --btn-focus-cl: #1a81bd;
  /* background-color */
  --dark-bg-cl: #2f303a;
  --grey-bg-cl: #757575;

  /* others */
}
/* !!!global values!!! */
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 14px;
}
span {
  color: var(--black-txt-cl);
}
/* reset styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.font-style {
  font-style: normal;
}
/* base style */
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.uppertitle {
  font-family: var(--main-font);

  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-cl);
}
.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-cl);
  background-color: var(--accent-txt-cl);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: var(--white-cl);
  background-color: var(--btn-focus-cl);
}
.btn-current {
  color: var(--white-cl);
  background-color: var(--accent-txt-cl);
}
.btn-dark {
  color: var(--main-txt-cl);
  background-color: var(--white-cl);
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark-current {
  color: var(--white-cl);
  background-color: var(--accent-txt-cl);
}

/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!Header section!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.header {
  background-color: var(--white-cl);
}
.header-logo {
  padding-bottom: 25px;
  padding-top: 24px;
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-list,
.contact-items {
  display: flex;
  gap: 50px;
}
.header-item {
  display: block;
}
.header-nav {
  margin-right: 331px;
}

.header-link {
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--black-cl);
  text-decoration: none;
}
.header-link:hover,
.header-link:focus,
.header-phone:hover,
.header-phone:focus {
  color: var(--accent-txt-cl);
}
.header-link-current {
  color: var(--accent-txt-cl);
}
.contact-item {
  color: var(--grey-color);
  text-decoration: none;
}
.contact-item:hover,
.contact-item:focus {
  color: var(--accent-txt-cl);
}

/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!Hero section!!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.hero {
  background-color: #2f303a;
}
/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!Features section!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.feature {
  background-color: var(--light-bg-cl);
}
.feature-container {
  display: flex;
}
.feature-items {
  min-width: 270px;
  min-height: 101px;
  padding-top: 94px;
  display: flex;
  gap: 30px;
}
.feature-article {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-paragraph {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--grey-bg-cl);
}
/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!Portfolio section!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.portfolio {
  background-color: var(--light-bg-cl);
}
.portfolio-main {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!Team section!!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.team {
  background-color: #f5f4fa;
}
.team-main {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
}
.team-name {
  font-weight: 500;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}
.team-job {
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--grey-bg-cl);
}
/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!Footer section!!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.footer {
  background-color: var(--dark-bg-cl);
}
.footer-logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}
.footer-studio {
  color: var(--white-cl);
}
.address {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-cl);
  text-decoration: none;
}
.address-items {
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.address-item {
  color: rgba(255, 255, 255, 0.6);
}

.address-item:hover,
.address-item:focus {
  color: var(--accent-txt-cl);
}
/* portfolio page */
.name-sites {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.about-sites {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}
